@charset "UTF-8";

ul, li {
    list-style: none;
}
.board_list { 
  width: 1500px;
  margin: 0 auto;
}

.outline li {
    margin: 20px;
    display: none;
}

.serialNum {
    display: none;
}

.board_list > ul {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.board_list > ul:nth-of-type(2) {
  border-top: 4px solid #FFDFA5;
}

.board_list > ul:nth-last-of-type(1) {
    border-bottom: 4px solid #FFDFA5;
  }

img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 10px;
}

img:hover {
    opacity: 30%;
}

.post_cover {
    border-top: 1px solid #FFDFA5;
    padding: 14px;
    height: 80px;
}

.post_cover:nth-last-child(1) {
    padding-bottom: 30px;
    border-bottom: 1px solid #FFDFA5;
}

.post_cover .title label {
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;
}
.post_cover .title label:hover {
    font-size: 17px;
    text-decoration: underline;
}
.post_cover .title ul {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: -30px;
}

.title ul li {
    margin: 10px;
    font-size: 12px;
    color: darkgrey;
    font-style: italic;
}
/* 페이지버튼 */
.btnNum {
    width: 150px;
    margin: 30px auto;
    display: flex;
}

.btnNum button {
    cursor: pointer;
    background:  orange;
    border: 1px solid orange;
    font-size: 15px;
    padding: 5px 10px;
    color: #fff;
    margin: 1px;
}  

.btnNum button:hover {
    box-shadow: 0 0  5px black;
}  

.btnNum button:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btnNum button:nth-child(4) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* 검색창 */
.formBox {
    width: 930px;
    display: flex;
    justify-content: end;
    margin: 0px auto;
    margin-bottom: 5px;
 }
 
 .form_srch {
    align-content: flex-end;
 }
 
 input[type="search"]::placeholder {
     color: darksalmon;
     font-size: 15px;
 }
 
 input[type="search"] {
     border: none;
     border-bottom: 1px solid orange;
     background-color: antiquewhite;
     color: orange;
     height: 15px;
     padding: 5px;
 }
 
 input[type="search"]:hover, input:focus {
     border: 2px solid #FFEB46;
     outline: none;
 }
 
 i {
     position: relative;
     left: -20px;
     top: 2px;
     color:orange;
 }

 /* 글쓰기 태그 */
 .write {
    margin-left: 20px;
    padding: 5px;
    border: 3px solid rgba(235, 185, 235, 0.836);
    border-radius: 5px;
    background: white;
    font-size: 15px;
    color: rgba(235, 185, 235, 0.836);
    font-weight: bold;
    &:hover  {
        box-shadow: 0 0 6px gray;
        cursor: pointer;
    }
    &:focus {
        border: 3px solid rgba(235, 185, 235, 0.836);
    }
}