@charset "UTF-8";
/* border: 1px solid black;*/
.outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin: 0 auto;
}

.container {
    font-size: 20px;
    margin: 20px auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.title {
    height: 50px;
    margin: 20px;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid orange;
    cursor: pointer;
    &:hover, &:focus {
        border: 3px solid rgba(255, 166, 0, 0.534);
        border-radius: 4px;
        outline: none;
    }
    &::placeholder {
        color: gainsboro;
    }
} 

select {
    height: 40px;
    width: 120px;
    margin: 10px 30px 10px 20px;
    font-size: 20px; 
    border: none;
    border-bottom: 1px solid orange;
    border-radius: 5px;
    cursor: pointer;
    &:hover, &:focus {
        border: 1px solid orange;
        outline: none;
    }
}

.btn_upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid orange;
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: orange;
      color: #fff;
    }
  }
.div_medium {
    display: flex;
    
}
.label_file {
   margin: auto 0;
}
  
#file {
    display: none;
}

.hr_between {
    width: 550px;
    margin-top: 20px;
    border: 1px solid gainsboro;

}

textarea {
    padding: 30px;
    font-size: 20px;
    outline: none;
    margin: 20px 20px;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
}

/* 버튼 */
.input_btn {
    width: 880px;
    text-align: right;  
    margin: 0 auto; 
}

.input_btn input {
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(235, 185, 235, 0.836);
    font-size: 15px;
    color: white;
    font-weight: bold;
    &:hover, &:focus {
        box-shadow: 0 0 6px gray;
        cursor: pointer;
    }
}