@charset "UTF-8";
/* 상세페이지 */
li {
    list-style: none;
}
.info_box {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.info_box > ul {
    margin: 50px 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.photo {
    margin-bottom: 30px; 
}
.photo img {
    width: 200px;
    height: 280px;
    background-color: gray;
    box-shadow: -8px 8px 5px #000447;  
}

.buy_ticket {
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

 /* 예매하기*/
.buy_ticket a {
    padding: 8px;
    text-decoration: none;
    background: #FF9900;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.buy_ticket a:hover {
    box-shadow: 0 0 15px #FAC8C8;
    padding: 10px;
}

/* 상세정보 */
.descript {
    width: 500px;
    height: 200px;
    margin: 65px 0px;
    line-height: 25px;
    margin-top: 100px;
}

.descript th {
    width: 100px;
    padding-right: 15px;
    text-align: right;
  
}
.descript td {
    width: 300px;
}

/* 목록버튼 시작 */
/* 버튼그룹  */
.btnAll {
    width: 1000px;
    margin: 0 auto;
}

.btnAll ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* 목록이동버튼 */
.listMove {
    width: 160px;
    height: 50px;
    margin-right: 300px;
}
.pre_next th {
    text-align: center;
} 

.pre_next td {
    text-align: left;
}

.detailBtn {
    border: none;
    background: none;
    color: darksalmon;
}

.pre_next tr :hover{
    font-weight: bold;
    cursor: pointer;
    
}

.pre_next th :hover{
    font-size: 18px;
    cursor: pointer;
}

/* 목록버튼 */
.btn_back_box {
    width: 60px;
    height: 30px;
}

.btn_back {
    width: 60px;
    border: 1px solid #FF9900;
    border-radius: 4px;
    background: none;
    font-size: 20px;
    color: #FF9900;
}

.btn_back:hover {
    box-shadow: 0 0 15px #FAC8C8;
    cursor: pointer;
    
}

/* 페이지숨기기 */
#detail2, #detail3 {
    display: none;
}

/* 줄바꿈 */
.descript tr {
    width: 100%;
	box-sizing: border-box;
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; /* 화면이 줄어들때 줄바꿈 */
}
/* 목록부분도 줄바꾸기 */


